<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2 class = "text-success">Добавление нового поста</h2>
    <%= form_for @post, url: posts_path do |f| %>

    <p class = "text-success">Название</p>
    <%= f.text_field :title, class: "form-control" %><br>

    <p class = "text-success">Статья</p>
    <%= f.text_area :body, class: "form-control" %><br>

    <p class = "text-success">Категория<br>
    <%= f.select :category_id, options_from_collection_for_select(Category.all, "id", "name"), {}, class: 'form-control' %>

    </p>
    <%= f.submit 'В печать!', class: "btn" %>

  <% end %>
  </div>

</div>
